body{
	font-family: Segoe UI light, Arial Narrow, sans-serif;
	width: 80%;
	margin: auto;
}
.juror{
	fill:white;
	stroke: black;
}

#sortselectors{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 5px;
	display: inline-block;	
	border-top: 1px solid gray;

}
#sortselectors li{
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 5px;
	background: gray;
	margin: 2px;
	cursor: pointer;
	display: inline-block;
}
::selection{
	background: #F2CD13;
}

#sortselectors li.selected{
	background: #F2CD13;
	font-family: "Segoe UI", Arial, sans-serif;
}

.axis path{
	display: none;
}

#viz{
	display: inline-block;
	border-bottom: 1px solid gray;
}

#vizparent{	
	position: relative;
}

.modal{
	display: none;
}
.modal.show{
	display: block;
	background: white;
	position: absolute;
	z-index:1000;
	left:35%;
	width:300px;
	margin:auto;
	border:1px solid black;	
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
}

.modal #content{
	padding: 10px;
}

.modal #closeBtn{
	cursor: pointer;
	text-align: right;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: underline;
	padding-right: 5px;
}

.profile{
	width: 100%;
	border: 3px solid black;
	max-height: 200px;
}
.props span {
	display: block;
}

#modaljurorno{
	font-size: 2em;
	text-align: center;		
	border-bottom: 1px solid #F2CD13;
	border-top: 1px solid #F2CD13;
}

@media only screen and (max-width : 768px) {
	body{
		width: 100%;
	}
}
@media only screen and (max-width : 480px) {
	.modal.show{
		left: 7%;
	}
}

@media only screen and (max-width : 320px) {
	.modal.show{
		width:98%;
		left:1%;
	}
}